body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#menu{
	display: inline-block;
}
#display {
	 position: absolute;
	 display: inline-block;
	 border: none;
}